<div class="header-middle"><!--header-middle-->
  <div class="container">
      <div class="row">
          <div class="col-sm-4">
              <div class="logo pull-left">
                <%= link_to image_tag("logo2.png"), root_path %>
              </div>
          </div>
          <div class="col-sm-8">
              <div class="shop-menu pull-right">
                  <ul class="nav navbar-nav">
                      <li><i class="fa fa-user"><%= link_to "Signup", new_user_registration_path %></i></li>
                      <li><i class="fa fa-lock"><%= link_to "Login", new_user_session_path %></i></li>
                  </ul>
              </div>
          </div>
      </div>
  </div>
</div><!--/header-middle-->