<div class="container">
<div class="shopper-informations">
	<div class="row">
		<div class="col-sm-6">
			<div class="shopper-info">
				<p>Category Form</p>
				<%= form_for @category, url: admin_categories_path do |f| %>
				  <%= f.text_field :title, placeholder: "Category Name" %>
				  <div class="col-sm-3">
						<%= f.submit "Create", class: "btn btn-primary" %>
					</div>
				<% end %>
			</div>
		</div>
	</div>
</div>
</div>